html {
    width: 100%;
    color: #222;
    font-family: Arial, Verdana, Sans-Serif;
    font-size: 76%;
}

body {
    background: white url(../images/ivec.png) no-repeat 50% 1.5em;
    margin-top: 1.5em;
    padding-top: 86px;
}

header {
    margin-top: 1.5em;
    padding: 1.5em 30px;
    background: #1c2f72;
}

h1 {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
}

h1, #content {
    width: 930px;
    margin: 0 auto;
}

#content {
    line-height: 1.5;
    margin-top: 1.5em;
}

p, h2, h3 {
    margin-bottom: 1em;
}

ul {
    list-style: outside;
    margin-left: 2em;
}

a {
    color: #1c2f72;
    text-decoration: underline;
}

form {
    float: right;
    width: 450px;
    border: solid 1px #c3c5c8;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0 0 1em 1em;
}

form table {
    margin-top: 0.5em;
}

form tr {
    border-bottom: 0.5em solid white;
    vertical-align: middle;
}

form th {
    font-weight: normal;
    padding-right: 1em;
    text-align: left;
    width: 10em;
}

form p.submit-row {
    margin-left: 11em;
    margin-bottom: 0;
}

form .errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    color: red;
}
