<%inherit file="registration/base.html" />
<% from django.utils.webhelpers import url %>

<%def name="title()">2011 Application for Resources on Pawsey-Funded iVEC Infrastructure</%def>


<form action="." method="POST">${ csrf_tag(csrf_token) }
    <p>
        To commence your account creation please provide the details below.
    </p>
    <p>Utilisation of iVEC services are subject to <a href="http://www.ivec.org/services/apply-account/condition-use">Conditions of Use</a>. Please ensure that you have read and agree to these conditions.</p>
    <p>
        Your email address is: ${ participant_email }.
    </p>
    <table>
        ${ form.as_table() }
    </table>

    <p class="submit-row">
        <input type="submit" value="Submit" />
    </p>
</form>


