#
# Requirements for IvecAllocation
#
# To see what requirements your current virtualenv is using type:
#
# $ pip freeze
#
#
# Requirements can be specified as:
#  - local files (eggs/ccg-python-build_v2_0)
#  - http        (http://ccg-python-build.googlecode.com/files/ccg-python-build_v2_0)
#  - eggs        (python-ldap>=2.3.13)
#
# http://www.pip-installer.org/en/latest/requirement-format.html
#
Mako==0.5.0
MarkupSafe==0.15
Mango-py==1.3.1-ccg1-3
ccg-auth==0.3.2
ccg-extras==0.1.5
ccg-makoloader==0.2.4
ccg-registration==0.8-alpha-1-ccg2
egenix-mx-base
psycopg2==2.4.5
python-ldap==2.3.13
south==0.7.3
django-extensions
