<% from django.utils.webhelpers import url %>
<!DOCTYPE HTML>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <title>${self.title()}</title>

        <link type="text/css" rel="stylesheet" media="all" href="${url('/static/css/html5reset-1.6.1.css')}">
        <link type="text/css" rel="stylesheet" media="all" href="${url('/static/css/ivec.css')}">

        <!--[if lt IE 9]>
        <script type="text/javascript" src="${url('/static/js/html5.js')}"></script>
        <![endif]-->

        ${self.head()}
    </head>
    <body>
        <header>
            <h1>${self.title()}</h1>
        </header>

        <section id="content">
            ${next.body()}
        <div id=footer>
        <p>
        Developed by the Centre for Comparative Genomics, Murdoch University, 2011. Authorised by Andrew Rohl, Executive Director, iVEC.
        </p>
        </div>
        </section>

    </body>
</html>

## Default head() implementation for pages that don't need anything special.
<%def name="head()"></%def>
